/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
/*@import '~bootstrap/scss/bootstrap';*/

@import "~bootswatch/dist/flatly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/flatly/bootswatch";

main {
  margin-top: 20px;
}
